$color-blue: #006BFF;
$color-gray-font: #616161;
$color-red: #D4002E;
$color-green: #00CF6C;
$color-gray-bg: #E8EAED;
$color-gray-border: #E1E5EC;

$radius-section: 8px;
$radius-form: 5px;
$padding-section: 10px;
